<section class="section sec2" id="offres">
     <h1 class="titleSection">Nos offres</h1>

     <div class="cards">
          <div class="card">
               <div class="cardText">
                    <div class="texts">
                         <h2 class="cardTitle">Entretien</h2>
                         <p class="cardDescription">
                              AutoTech vous propose d’entretenir votre
                              véhicule. Faites confiances à nos équipes afin de
                              garder en bonne santé votre voiture.<br /><br />
                              Rapide et efficace, autotech vous livrera votre véhicule
                              en 2 heures tout au plus.
                         </p>
                    </div>
                    <a href="#" class="btn">En savoir plus</a>
               </div>
          </div>

          <div class="card">
               <div class="cardText">
                    <div class="texts">
                         <h2 class="cardTitle">Réparation</h2>
                         <p class="cardDescription">
                              Vous rencontrez un problème technique? Pas
                              d'inquiétude, Autotech prend en charge votre
                              véhicule dans les plus brefs délais. <br /><br />
                              Rapides et efficaces, nos équipes remettront votre
                              voiture sur la route rapidement.
                         </p>
                    </div>
                    <a href="#" class="btn">En savoir plus</a>
               </div>
          </div>
     </div>
</section>